@import url('../font/dm_sans.css');

body {
    font-family: "DM Sans", serif;
    background: #f4f4f4;
    margin: 0px;
    padding: 0px;

}

.container-fluid img {
    width: 35px;
}

.user_location_container {
    height: 99vh;
}

.map_container {
    height: 86vh;
}

.bottom_navigation {
    background-color: #ffff;
    padding: 10px 30px 0 30px;
    position: fixed;  /* Fix it to the bottom */
    bottom: 0;
    z-index: 3000;
}

.nav_div a{
    text-decoration: none; /* Remove underline */
    color: inherit;
}

.speak img {
    top: -60px;
}

@media (max-width: 1024px) {

    .bottom_navigation {
        padding: 8px 10px 0 10px;
    }

    .speak img {
        right: -4vw;
    }
}

@media (max-width: 780px) {

    .speak img {
        right: -5vw;
    }
}


@media (max-width: 560px) {
    .speak img {
        right: -7vw;
    }
    .nav_div p{
        font-size: small;
    }

}

@media (max-width: 400px) {
    .nav_div img{
        transform: scale(0.85);
        transition: transform 0.3s ease;
    }
    .nav_div p{
        font-size: x-small;
    }
    .speak img {
        right: -9vw;
    }
}