<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo location</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/geo_location.css">

</head>

<body>
        <div class="dashboard_rail_station_upper_div  py-3">
            <div class="dashboard_rail_current_train_img">
                <div class="dashboard_rail_current_city_station_div">
                    <div>
                        <div class="dashboard_rail_station_current_station">Current Station</div>
                        <h1 class="dashboard_rail_station_name">NASHIK</h1>
                        <div class="dashboard_rail_select_station">(To change, select a station from the menu)</div>
                    </div>

                </div>
                <div class="dashboard_train_parent_div_img">
                    <img class="dashboard_rail_train_img" src="../static/img/vande_bharat_train_img.png">
                </div>
            </div>
        </div>
</body>

</html>