<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIVE STATUS</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/live_train.css">


</head>

<body>

    <div class="live_status_box" style="background-color: rgb(255, 255, 255); border-radius: 5px;">
        <div class="live-container d-flex flex-column align-items-center">
            <h3 class="fw-bold mb-4">LIVE TRAIN STATUS</h3>
            <p class="text-muted mb-2">Please Enter Train Number</p>
            <input type="text" class="form-control mb-4 w-100" placeholder="Enter Train Number">
            <button class="btn live_pnr_btn w-auto px-3">LIVE STATUS</button>
        </div>
    </div>



    <script src="../static/js/navbar_sidebar.js"></script>
    <script src="../static/js/dropdown.js"></script>

</body>

</html>