<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Passenger List</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/passenger.css">
</head>

<body>
    <div class="details-container mt-2 sm:p-4 p-2">
        <h5 class="text-muted fw-bold">PASSENGER DETAILS</h5>
        <hr>
        <table class="table text-center">
            <thead class="border-0 passenger_header">
                <tr>
                    <th class="text-muted border-0">Passenger</th>
                    <th class="text-muted border-0">Booking Status</th>
                    <th class="text-muted border-0">Current Status</th>
                </tr>
            </thead>
            <tbody class="passenger_tbody">
                <tr>
                    <td class="fw-bold border-0">1</td>
                    <td class="fw-bold border-0">W/L 2GNWL</td>
                    <td class="fw-bold border-0">RAC 8</td>
                </tr>
                <tr>
                    <td class="fw-bold border-0">2</td>
                    <td class="fw-bold border-0">W/L 2GNWL</td>
                    <td class="fw-bold border-0">RAC 8</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</body>

</html>