<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PNR STATUS</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/pnr_status.css">
</head>

<body>
    <div class="pnr_status_box">
        <div class="pnr_container d-flex flex-column align-items-center">
            <h3 class="fw-bold mb-4">PNR STATUS</h3>
            <p class="text-muted mb-2">Please Enter PNR Number</p>
            <input type="text" class="form-control mb-4 w-100" placeholder="Enter PNR Number">
            <button class="btn pnr_status_btn w-auto px-3">PNR STATUS</button>
        </div>
    </div>
</body>

</html>