<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Schedule</title>
    
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/track_train.css">
</head>

<body>
    <div class="track_path_container">
        <div class="rounded overflow-hidden">
            <div class="track_path_header d-flex justify-content-between text-white p-2">
                <div>Arrival</div>
                <div>Day 1 - Aug 07, Wed</div>
                <div>Departure</div>
            </div>

            <div class="position-relative p-4 border">
                <div id="stations-container"></div>
            </div>
            
        </div>
    </div>


    <script src="../static/js/track_train.js"></script>
</body>

</html>