<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Maps with Current Location</title>
</head>

<body>
    <div class="container">
        <h1>User Current Location</h1>
        <div id="map" style="height: 500px;"></div>
    </div>
    
    <script src="../static/js/user_location.js"></script>
    

    <!-- Google Maps API Script -->
    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnBmHondgwsA-dzeWtQdRT3X83On_V-wI&libraries=geometry&callback=initMap&loading=async"></script>

</body>

</html>